# dotenv environment variables file
*.env
*.env.test
*.env.docker
# config
*config

# Postgres data
*postgres-data/

# npm
*node_modules/

# build
*build/
*dist/

# certificates
/cert
*.pem

# Other
.idea
