# dotenv environment variables file
*.env
*.env.test

# Postgres data
*postgres-data/

# Prometheus data
prometheus/prometheus_data/*

# npm
*node_modules/

# build
*build/
*dist/

# certificates
.ssl
*.crt
*.key
*.pem

# Other
.idea

# logs
*.log
