<h2>Models</h2>
<Table>
    <tr>
        <th>Model name</th>
        <th>Rows</th>
    </tr>
    {{#each models}}
        <tr>
            <td><a href="/{{this.name}}">{{this.name}}</a></td>
            <td>{{this.count}}</td>
        </tr>
    {{/each}}
</Table>
</ul>