<form action="/admin/login" method="post">
    <input name="email" type="text" placeholder="email">
    <input name="password" type="password" placeholder="password">
    <button type="submit">Login</button>
    {{#if err}}
        <p class="err">{{err}}</p>
    {{/if}}
</form>