<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Admin</title>
    <link rel="icon" href="/public/favicon.ico" />
    <style>
        body {
            background-color: #484848;
            color: #d3d3d3;
            link: #d3d3d3
        }
        a {
            color: #c0fffc;
            font-weight: bold;
        }
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #000000;
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #646464;
        }
        .err {
            color: #bd4545;
            font-weight: bold;
        }
        .delete {
            height: 30px;
            background-color: #ff3c3c;
            border: #b22e2e;
            border-radius: 4px;
            margin: 10px 0px 10px 0px;
            cursor: pointer;
        }
        .save {
            height: 30px;
            background-color: #077fce;
            border: #136096;
            border-radius: 4px;
            margin: 10px 0px 10px 0px;
            cursor: pointer;
            color: white;
        }
</style>
</head>
<body>
    <h1><a href="/admin">Admin Page</a></h1>
    {{{body}}}
</body>
</html>